@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-primary text-white font-sans antialiased overflow-x-hidden;
  }
}

@layer components {
  .glass-panel {
    @apply backdrop-blur-md bg-white/5 border border-white/10 shadow-xl;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-accent-blue via-accent-purple to-accent-indigo;
  }
}
